body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 35px;
    background-color: #0097B2;   
}

.logo img {
    height: 50px; 
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white; 
    text-decoration: none; 
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline; 
}




